---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<p><em>*: Corresponding author, &dagger;: These authors contributed equally</em></p>

{% assign pub_total = site.publications | size %}
{% assign pubs_by_year = site.publications | group_by_exp: "post", "post.date | date: '%Y'" | sort: "name" | reverse %}

<div class="publications-list">
{% assign running_index = pub_total %}
{% for year_group in pubs_by_year %}
  <h2>{{ year_group.name }} ({{ year_group.items | size }})</h2><hr />
  {% assign year_items = year_group.items | sort: "date" | reverse %}
  {% for post in year_items %}
    {% include archive-single.html number=running_index %}
    {% assign running_index = running_index | minus: 1 %}
  {% endfor %}
{% endfor %}
</div>
